# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.env
*.venv
env/
venv/
nanocellulose_env/

# SQLite database
*.db

# IDEs and editors
.vscode/
*.sublime-project
*.sublime-workspace

# MacOS
.DS_Store

# Others
*.log